# **Introducción a Pandas**

**Importación de datos usando pandas**

In [23]:
import pandas as pd

In [24]:
data = pd.read_csv('AAPL.csv')
data

     timestamp    open    high  ...   close  adjusted_close    volume
0     6/3/2020  282.00  290.82  ...  289.03        289.0300  56544246
1     5/3/2020  295.52  299.55  ...  292.92        292.9200  46893219
...        ...     ...     ...  ...     ...             ...       ...
5031  7/3/2000  126.44  127.44  ...  122.87          3.8086   2437600
5032  6/3/2000  126.00  129.13  ...  125.69          3.8960   1880000

[5033 rows x 7 columns]

In [25]:
spy = pd.read_csv('SPY.csv')
spy

     timestamp;open;high;low;close;adjusted_close;volume
0     19/3/2020;239.25;247.38;232.22;240.51;240.51;2...
1      18/3/2020;236.25;248.37;228.02;240;240;324845381
...                                                 ...
5030  21/3/2000;145.5312;149.75;144.5;149.1875;102.7...
5031  20/3/2000;146.875;147.3437;144.7812;146.1875;1...

[5032 rows x 1 columns]

csv, separado por ;

In [26]:
spy = pd.read_csv('SPY.csv', sep=';')
spy

      timestamp      open      high  ...     close  adjusted_close     volume
0     19/3/2020  239.2500  247.3800  ...  240.5100        240.5100  288124389
1     18/3/2020  236.2500  248.3700  ...  240.0000        240.0000  324845381
...         ...       ...       ...  ...       ...             ...        ...
5030  21/3/2000  145.5312  149.7500  ...  149.1875        102.7969   13612600
5031  20/3/2000  146.8750  147.3437  ...  146.1875        100.7297   12502300

[5032 rows x 7 columns]

**Importando un XLS con pandas**

seleccionar hoja se puede

In [27]:
aapl = pd.read_excel('AAPL.xlsx', sheet_name='Hoja1')
aapl

      timestamp    open    high  ...   close  adjusted_close    volume
0    2020-03-06  282.00  290.82  ...  289.03        289.0300  56544246
1    2020-03-05  295.52  299.55  ...  292.92        292.9200  46893219
...         ...     ...     ...  ...     ...             ...       ...
5031 2000-03-07  126.44  127.44  ...  122.87          3.8086   2437600
5032 2000-03-06  126.00  129.13  ...  125.69          3.8960   1880000

[5033 rows x 7 columns]

quiero cambiar el indice, quiero fecha y no númerico

In [28]:
aapl = pd.read_excel('AAPL.xlsx',sheet_name='Hoja1', index_col='timestamp')
aapl

              open    high     low   close  adjusted_close    volume
timestamp
2020-03-06  282.00  290.82  281.23  289.03        289.0300  56544246
2020-03-05  295.52  299.55  291.41  292.92        292.9200  46893219
...            ...     ...     ...     ...             ...       ...
2000-03-07  126.44  127.44  121.12  122.87          3.8086   2437600
2000-03-06  126.00  129.13  125.00  125.69          3.8960   1880000

[5033 rows x 6 columns]

traer determinadas columnas

In [29]:
columnas = ['timestamp', 'open', 'close']
aapl = pd.read_excel('AAPL.xlsx', sheet_name='Hoja1', index_col='timestamp', usecols=columnas)
aapl

              open   close
timestamp
2020-03-06  282.00  289.03
2020-03-05  295.52  292.92
...            ...     ...
2000-03-07  126.44  122.87
2000-03-06  126.00  125.69

[5033 rows x 2 columns]

**Configurando la salida**

limitación de filas y columnas cambiando las opciones

In [30]:
pd.options.display.max_rows = 4
pd.options.display.max_columns = 6

aapl = pd.read_excel('AAPL.xlsx', sheet_name='Hoja1')
aapl

      timestamp    open    high  ...   close  adjusted_close    volume
0    2020-03-06  282.00  290.82  ...  289.03        289.0300  56544246
1    2020-03-05  295.52  299.55  ...  292.92        292.9200  46893219
...         ...     ...     ...  ...     ...             ...       ...
5031 2000-03-07  126.44  127.44  ...  122.87          3.8086   2437600
5032 2000-03-06  126.00  129.13  ...  125.69          3.8960   1880000

[5033 rows x 7 columns]

display ilimitado de rows y cols

In [31]:
#pd.options.display.max_rows = None
#pd.options.display.max_columns = 6
#aapl

opciones de formato

In [32]:
pd.options.display.precision = 2
aapl

      timestamp    open    high  ...   close  adjusted_close    volume
0    2020-03-06  282.00  290.82  ...  289.03          289.03  56544246
1    2020-03-05  295.52  299.55  ...  292.92          292.92  46893219
...         ...     ...     ...  ...     ...             ...       ...
5031 2000-03-07  126.44  127.44  ...  122.87            3.81   2437600
5032 2000-03-06  126.00  129.13  ...  125.69            3.90   1880000

[5033 rows x 7 columns]

ver informacion general del dataframe

In [33]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5033 entries, 0 to 5032
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       5033 non-null   datetime64[ns]
 1   open            5033 non-null   float64
 2   high            5033 non-null   float64
 3   low             5033 non-null   float64
 4   close           5033 non-null   float64
 5   adjusted_close  5033 non-null   float64
 6   volume          5033 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 275.4 KB

In [34]:
aapl.shape

(5033, 7)

In [35]:
aapl.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'adjusted_close',
       'volume'],
      dtype='object')

In [36]:
list(aapl.columns)

['timestamp', 'open', 'high', 'low', 'close', 'adjusted_close', 'volume']

si quiero cambiar de nombre, puedo hacerlo con columns, aapl.columns = ['fecha', 'apertura', 'cierre', ....]

In [37]:
aapl.dtypes

timestamp         datetime64[ns]
open                     float64
                       ...
adjusted_close           float64
volume                     int64
Length: 7, dtype: object

In [39]:
dict(aapl.dtypes)

{'timestamp': dtype('<M8[ns]'),
 'open': dtype('float64'),
 'high': dtype('float64'),
 'low': dtype('float64'),
 'close': dtype('float64'),
 'adjusted_close': dtype('float64'),
 'volume': dtype('int64')}

**Indice de un dataframe**

seteo del indice

viene con numerico

In [43]:
aapl.head()

              open    high     low   close  adjusted_close    volume
timestamp
2020-03-06  282.00  290.82  281.23  289.03          289.03  56544246
2020-03-05  295.52  299.55  291.41  292.92          292.92  46893219
...            ...     ...     ...     ...             ...       ...
2020-03-03  303.67  304.00  285.80  289.32          289.32  79868852
2020-03-02  282.28  301.44  277.72  298.81          298.81  85349339

[5 rows x 6 columns]

In [44]:
df = pd.read_csv('AAPL.csv')

In [45]:
df.set_index('timestamp', inplace=True)
df.head()

             open    high     low   close  adjusted_close    volume
timestamp
6/3/2020   282.00  290.82  281.23  289.03          289.03  56544246
5/3/2020   295.52  299.55  291.41  292.92          292.92  46893219
...           ...     ...     ...     ...             ...       ...
3/3/2020   303.67  304.00  285.80  289.32          289.32  79868852
2/3/2020   282.28  301.44  277.72  298.81          298.81  85349339

[5 rows x 6 columns]

 - df.set_index('timestamp', inplace=True) equivale a df = df.set_index('timestamp') (sin inplace)
 - también a set_index() se le puede pasar el drop, se borra el indice anterior o reset_index()

In [48]:
df.reset_index(inplace=True)

In [49]:
df

     timestamp    open    high  ...   close  adjusted_close    volume
0     6/3/2020  282.00  290.82  ...  289.03          289.03  56544246
1     5/3/2020  295.52  299.55  ...  292.92          292.92  46893219
...        ...     ...     ...  ...     ...             ...       ...
5031  7/3/2000  126.44  127.44  ...  122.87            3.81   2437600
5032  6/3/2000  126.00  129.13  ...  125.69            3.90   1880000

[5033 rows x 7 columns]