# **Lectura de DataFrame y sus atributos**

acceso a datos de la tabla

head y tail

In [2]:
import pandas as pd
aapl = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')

In [4]:
aapl.head(3)

   timestamp    open    high     low   close  adjusted_close    volume
0 2020-03-06  282.00  290.82  281.23  289.03          289.03  56544246
1 2020-03-05  295.52  299.55  291.41  292.92          292.92  46893219
2 2020-03-04  296.44  303.40  293.13  302.74          302.74  54794568

In [5]:
aapl.tail(5)

      timestamp    open    high     low   close  adjusted_close   volume
5028 2000-03-10  121.69  127.94  121.00  125.75          3.8979  2219700
5029 2000-03-09  120.87  125.00  118.25  122.25          3.7894  2470700
5030 2000-03-08  122.87  123.94  118.56  122.00          3.7816  2421700
5031 2000-03-07  126.44  127.44  121.12  122.87          3.8086  2437600
5032 2000-03-06  126.00  129.13  125.00  125.69          3.8960  1880000

metodos loc e iloc

In [7]:
aapl.loc[2] # es el valor índice la locación loc. trae la tercera fila.

timestamp         2020-03-04 00:00:00
open                           296.44
high                            303.4
low                            293.13
close                          302.74
adjusted_close                 302.74
volume                       54794568
Name: 2, dtype: object

In [9]:
aapl.iloc[2] #coincide con loc porque el indice es numerico. iloc es el num de fila del df.

timestamp         2020-03-04 00:00:00
open                           296.44
high                            303.4
low                            293.13
close                          302.74
adjusted_close                 302.74
volume                       54794568
Name: 2, dtype: object

In [12]:
pd.options.display.max_rows = 8
aapl = aapl.set_index('timestamp')
aapl

              open    high     low   close  adjusted_close    volume
timestamp
2020-03-06  282.00  290.82  281.23  289.03        289.0300  56544246
2020-03-05  295.52  299.55  291.41  292.92        292.9200  46893219
2020-03-04  296.44  303.40  293.13  302.74        302.7400  54794568
2020-03-03  303.67  304.00  285.80  289.32        289.3200  79868852
...            ...     ...     ...     ...             ...       ...
2000-03-09  120.87  125.00  118.25  122.25          3.7894   2470700
2000-03-08  122.87  123.94  118.56  122.00          3.7816   2421700
2000-03-07  126.44  127.44  121.12  122.87          3.8086   2437600
2000-03-06  126.00  129.13  125.00  125.69          3.8960   1880000

[5033 rows x 6 columns]

In [13]:
aapl.loc['2020-03-04']

open                   296.44
high                   303.40
low                    293.13
close                  302.74
adjusted_close         302.74
volume            54794568.00
Name: 2020-03-04 00:00:00, dtype: float64

In [14]:
aapl.iloc[2]

open                   296.44
high                   303.40
low                    293.13
close                  302.74
adjusted_close         302.74
volume            54794568.00
Name: 2020-03-04 00:00:00, dtype: float64

seleccionamos algunos elementos cualquiera de la tabla