## **Ejercicios primera parte: pandas, nuevas_columnas y df de cero.**

1. Abrir el archivo AAPL.xlsx generar un df igual agregando una columna que contenga la variación porcentual intradiaria (entre precio de apertura y cierre sobre el precio de apertura)

In [11]:
import pandas as pd

In [12]:
aapl = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')

In [13]:
aapl['var_porc_intradiaria'] = ((aapl['close'] - aapl['open']) / aapl['open']) * 100
aapl.head()

,timestamp,open,high,low,close,adjusted_close,volume,var_porc_intradiaria
0,2020-03-06,282.00,290.82,281.23,289.03,289.03,56544246,2.49
1,2020-03-05,295.52,299.55,291.41,292.92,292.92,46893219,-0.88
...,...,...,...,...,...,...,...,...
3,2020-03-03,303.67,304.00,285.80,289.32,289.32,79868852,-4.73
4,2020-03-02,282.28,301.44,277.72,298.81,298.81,85349339,5.86

2. Mostrar la tabla en pantalla, de manera que muestre solo 2 decimales de la columna calculada, y que solo muestre las dos primeras y las dos ultimas filas.

In [15]:
pd.options.display.max_rows = 4
pd.options.display.precision = 2
aapl

,timestamp,open,high,low,close,adjusted_close,volume,var_porc_intradiaria
0,2020-03-06,282.00,290.82,281.23,289.03,289.03,56544246,2.49
1,2020-03-05,295.52,299.55,291.41,292.92,292.92,46893219,-0.88
...,...,...,...,...,...,...,...,...
5031,2000-03-07,126.44,127.44,121.12,122.87,3.81,2437600,-2.82
5032,2000-03-06,126.00,129.13,125.00,125.69,3.90,1880000,-0.25

3. Guardar la tabla en un archivo AAPL_ej.xlsx en la hoja llamada Ej3, y guardar solo las columnas de la fecha y la variación intradiaria que acabamos de calcular.

In [17]:
aapl.to_excel('AAPL_Ej.xlsx',columns=['timestamp', 'var_porc_intradiaria'],sheet_name='Ej3')