## **Ejercicios segunda parte: lectura_de_df, filtrados, tratamientos de elementos y ordenamiento de tablas.**

1. mostrar los datos correspondientes al 15 de mayo del 2008

In [43]:
import pandas as pd
aapl = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')
aapl.set_index('timestamp',inplace=True)

In [44]:
aapl.loc["2008-05-15"]

open              1.867800e+02
high              1.899000e+02
low               1.842000e+02
close             1.897300e+02
adjusted_close    2.352420e+01
volume            3.118600e+07
Name: 2008-05-15 00:00:00, dtype: float64

2. mostrar los tres datos posteriores al 15 de mayo del 2008

In [45]:
aapl.head()

              open    high     low   close  adjusted_close    volume
timestamp
2020-03-06  282.00  290.82  281.23  289.03          289.03  56544246
2020-03-05  295.52  299.55  291.41  292.92          292.92  46893219
2020-03-04  296.44  303.40  293.13  302.74          302.74  54794568
2020-03-03  303.67  304.00  285.80  289.32          289.32  79868852
2020-03-02  282.28  301.44  277.72  298.81          298.81  85349339

In [46]:
aapl = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')
aapl[aapl['timestamp']>"2008-05-15"].tail(3)

      timestamp    open    high     low     close  adjusted_close    volume
2969 2008-05-20  181.83  186.16  180.12  185.9000         23.0494  34637500
2970 2008-05-19  187.90  188.69  181.30  183.6000         22.7642  33779300
2971 2008-05-16  190.30  190.30  187.00  187.6201         23.2626  27348900

3. contar la cantidad de ruedas entre el 15 de mayo del 2008 y el 20 de agosto de 2011

In [47]:
len(aapl[(aapl['timestamp']>"2008-05-15") & (aapl['timestamp']<"2011-08-20")])

823

In [48]:
aapl.head()

   timestamp    open    high     low   close  adjusted_close    volume
0 2020-03-06  282.00  290.82  281.23  289.03          289.03  56544246
1 2020-03-05  295.52  299.55  291.41  292.92          292.92  46893219
2 2020-03-04  296.44  303.40  293.13  302.74          302.74  54794568
3 2020-03-03  303.67  304.00  285.80  289.32          289.32  79868852
4 2020-03-02  282.28  301.44  277.72  298.81          298.81  85349339

In [49]:
data_fecha_indice = aapl.set_index('timestamp')
data_fecha_indice.head()

              open    high     low   close  adjusted_close    volume
timestamp
2020-03-06  282.00  290.82  281.23  289.03          289.03  56544246
2020-03-05  295.52  299.55  291.41  292.92          292.92  46893219
2020-03-04  296.44  303.40  293.13  302.74          302.74  54794568
2020-03-03  303.67  304.00  285.80  289.32          289.32  79868852
2020-03-02  282.28  301.44  277.72  298.81          298.81  85349339

In [50]:
# data_fecha_indice.loc["2011-08-20":"2008-08-15"]

4. contar la cantidad de ruedas entre el 15 de mayo del 2008 y el 20 de agosto de 2011 que el precio de cierre haya sido mayor que el precio de apertura

In [51]:
len(aapl[(aapl['timestamp']>"2008-05-15") & (aapl['timestamp']<"2011-08-20") & (aapl['close']>aapl['open'])])

420

In [52]:
data = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')
dataIndiceFecha = data.set_index('timestamp')
rango = dataIndiceFecha.loc["2011-08-20":"2008-05-15"]
rango

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'