## **Tratamiento de los elementos del DataFrame**

In [1]:
import pandas as pd
aapl = pd.read_excel("C:/Users/juanf/Escritorio/python_finanzas_quant/archivos_data/UCEMA/AAPL.xlsx", sheet_name='Hoja1')

In [2]:
vol = aapl.volume
vol

0       56544246
1       46893219
2       54794568
3       79868852
4       85349339
          ...
5028     2219700
5029     2470700
5030     2421700
5031     2437600
5032     1880000
Name: volume, Length: 5033, dtype: int64

In [3]:
type(vol)

pandas.core.series.Series

In [5]:
vol = list(vol)
type(vol)

list

In [6]:
vol_medio = sum(vol) / len(vol)
vol_medio

23694203.887343533

In [8]:
columnas  = list(aapl.columns)
columnas

['timestamp', 'open', 'high', 'low', 'close', 'adjusted_close', 'volume']

In [9]:
aapl.loc[0]

timestamp         2020-03-06 00:00:00
open                            282.0
high                           290.82
low                            281.23
close                          289.03
adjusted_close                 289.03
volume                       56544246
Name: 0, dtype: object

In [10]:
primera_fila = list(aapl.loc[0])
primera_fila

[Timestamp('2020-03-06 00:00:00'),
 282.0,
 290.82,
 281.23,
 289.03,
 289.03,
 56544246]

armado de un diccionario partiendo de una fila de un DataFrame

In [11]:
ordenado_por_vol = aapl.sort_values(by='volume', ascending=False)
mayor_volumen = ordenado_por_vol.head(3)
mayor_volumen

      timestamp     open    high     low   close  adjusted_close     volume
1382 2014-09-09   99.080  103.08   96.14   97.99         89.4259  189560600
1141 2015-08-24   94.870  108.80   92.00  103.12         95.7091  162206292
1285 2015-01-28  117.625  118.12  115.31  115.31        105.6872  146477063

In [12]:
vol_dict = mayor_volumen.to_dict(orient='list')
vol_dict

{'timestamp': [Timestamp('2014-09-09 00:00:00'),
  Timestamp('2015-08-24 00:00:00'),
  Timestamp('2015-01-28 00:00:00')],
 'open': [99.08, 94.87, 117.625],
 'high': [103.08, 108.8, 118.12],
 'low': [96.14, 92.0, 115.31],
 'close': [97.99, 103.12, 115.31],
 'adjusted_close': [89.4259, 95.7091, 105.6872],
 'volume': [189560600, 162206292, 146477063]}

In [13]:
vol_Dict = mayor_volumen.to_dict(orient='dict')
vol_Dict

{'timestamp': {1382: Timestamp('2014-09-09 00:00:00'),
  1141: Timestamp('2015-08-24 00:00:00'),
  1285: Timestamp('2015-01-28 00:00:00')},
 'open': {1382: 99.08, 1141: 94.87, 1285: 117.625},
 'high': {1382: 103.08, 1141: 108.8, 1285: 118.12},
 'low': {1382: 96.14, 1141: 92.0, 1285: 115.31},
 'close': {1382: 97.99, 1141: 103.12, 1285: 115.31},
 'adjusted_close': {1382: 89.4259, 1141: 95.7091, 1285: 105.6872},
 'volume': {1382: 189560600, 1141: 162206292, 1285: 146477063}}

In [14]:
vol_Dict['close']

{1382: 97.99, 1141: 103.12, 1285: 115.31}

In [15]:
vol_Dict['timestamp']

{1382: Timestamp('2014-09-09 00:00:00'),
 1141: Timestamp('2015-08-24 00:00:00'),
 1285: Timestamp('2015-01-28 00:00:00')}