## **Ejercicios colecciones de datos I**

Dada la siguiente lista: listado = [1,2,3,4,5,6,7,8,9,10,11,12]

In [113]:
listado = [1,2,3,4,5,6,7,8,9,10,11,12]

1. Filtrar solo los números pares

In [114]:
pares = [num for num in listado[1::2]]
pares

[2, 4, 6, 8, 10, 12]

2. Filtrar solo los valores del 4 hasta el final de la lista.

In [115]:
listado[listado.index(4):]

[4, 5, 6, 7, 8, 9, 10, 11, 12]

3. Filtrar solo los valores del 5 hasta el 10

In [116]:
listado[listado.index(5):listado.index(10)+1]

[5, 6, 7, 8, 9, 10]

4. Filtrar solo los valores menores a 10 que no sean pares

In [117]:
listado[listado.index(10)::-1][1::2]

[9, 7, 5, 3, 1]

In [118]:
listado[1:-3:2]

[2, 4, 6, 8]

5. Filtrar solo los multiplos de 3 ordenados al revés

In [119]:
listado

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [120]:
mult_3 = listado[listado.index(3)::3]
mult_3[::-1]

[12, 9, 6, 3]

In [121]:
listado[-1::-3]

[12, 9, 6, 3]

In [144]:
promedio = sum(listado) / len(listado)
promedio

6.5

Dadas las siguientes listas:

In [122]:
lideres = ["GGAL","PAMP","YPFD","TECO2","EDN","LOMA","BBAR"]
galpones = ["AGRO","FIPL","MIRG","GARO","LONG"]

7. Elegir un galpon al azar y agregarlo a la lista lideres al final

In [123]:
import random
galpon_al_azar = random.choice(galpones)
lideres.append(galpon_al_azar)
print(lideres)

['GGAL', 'PAMP', 'YPFD', 'TECO2', 'EDN', 'LOMA', 'BBAR', 'GARO']

8. Elegir un galpón al azar y reemplazar a EDN por ese galpón.

In [124]:
galpon_al_azar2 = random.choice(galpones)
lideres[lideres.index("EDN")] = galpon_al_azar2
print(lideres)

['GGAL', 'PAMP', 'YPFD', 'TECO2', 'MIRG', 'LOMA', 'BBAR', 'GARO']

9. Elegir 3 galpones al azar y reemplazar una lider cualquiera por esos 3 galpones

In [125]:
tres_galpones_random = random.sample(galpones,3)
print(lideres)
print(tres_galpones_random)

['GGAL', 'PAMP', 'YPFD', 'TECO2', 'MIRG', 'LOMA', 'BBAR', 'GARO']
['FIPL', 'LONG', 'GARO']

In [126]:
lideres[lideres.index(random.choice(lideres))] = random.choice(tres_galpones_random)
lideres

['GGAL', 'LONG', 'YPFD', 'TECO2', 'MIRG', 'LOMA', 'BBAR', 'GARO']

Dado el siguiente diccionario:

In [127]:
panel = {'ALUA': 29.35, 'BBAR': 120.85, 'BMA': 265.2, 'BYMA':290, 'CEPU': 29, 'COME': 3, 'CRES': 40.7}

10. Reemplazar el precio de BBAR por un precio al azar que elija python que varíe +/- $1 del precio que tiene con precisión del 0.01.

In [128]:
panel['BBAR'] = panel['BBAR'] +  random.choice([-1,1]) *  random.normalvariate(120.85,1) / 100

In [129]:
panel

{'ALUA': 29.35,
 'BBAR': 122.06426354035749,
 'BMA': 265.2,
 'BYMA': 290,
 'CEPU': 29,
 'COME': 3,
 'CRES': 40.7}

In [145]:
"""
corrección.
valor_azar = random.uniform(1,-1)
panel['BBAR'] = round(panel['BBAR']+valor_azar,2)
panel
"""

"\ncorrección.\nvalor_azar = random.uniform(1,-1)\npanel['BBAR'] = round(panel['BBAR']+valor_azar,2)\npanel\n"

11. Reemplazar el precio de BBAR por un precio al azar que elija python que varie +/- 3% del precio que tiene con precision del 0.01

In [130]:
panel['BBAR'] += random.choice([panel['BBAR']*0.03,panel['BBAR']*-0.03]) * random.normalvariate(panel['BBAR'],1) / 100

In [131]:
panel

{'ALUA': 29.35,
 'BBAR': 117.57056669669797,
 'BMA': 265.2,
 'BYMA': 290,
 'CEPU': 29,
 'COME': 3,
 'CRES': 40.7}

In [146]:
"""
corrección.
banda = 0.03 * panel['BBAR']
valor_azar = random.uniform(-banda,banda)
panel['BBAR'] = round(panel['BBAR']+valor_azar,2)
panel
"""

"\ncorrección.\nbanda = 0.03 * panel['BBAR']\nvalor_azar = random.uniform(-banda,banda)\npanel['BBAR'] = round(panel['BBAR']+valor_azar,2)\npanel\n"

13. Elegir un ticker al azar y mostrarlo

In [136]:
tickers = list(panel.keys())
ticker_aleatorio = random.choice(tickers)
ticker_aleatorio

'BYMA'

14. Re ordenar el diccionario al azar

In [147]:
keys = list(panel.keys())
random.shuffle(keys)
listaReordenada = [(key, panel[key]) for key in keys]
dict(listaReordenada)

{'BBAR': 117.57056669669797,
 'COME': 3,
 'BMA': 265.2,
 'BYMA': 290,
 'CRES': 40.7,
 'ALUA': 29.35,
 'CEPU': 29}

15. Reordenar el diccionario alfabéticamente en forma inversa (de la Z a la A)

In [148]:
panel

{'ALUA': 29.35,
 'BBAR': 117.57056669669797,
 'BMA': 265.2,
 'BYMA': 290,
 'CEPU': 29,
 'COME': 3,
 'CRES': 40.7}

In [149]:
llaves = list(panel.keys())
lista_reversed_llaves = [(llave, panel[llave]) for llave in reversed(llaves)]
dict(lista_reversed_llaves)

{'CRES': 40.7,
 'COME': 3,
 'CEPU': 29,
 'BYMA': 290,
 'BMA': 265.2,
 'BBAR': 117.57056669669797,
 'ALUA': 29.35}